
       <!-- Intro -->
       <!--Carousel Wrapper-->
       <div id="carousel-example-3" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">
           <!--Indicators-->
           <ol class="carousel-indicators">
               <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-example-3" data-slide-to="1"></li>
               <li data-target="#carousel-example-3" data-slide-to="2"></li>
           </ol>
           <!--/.Indicators-->
           <!--Slides-->
           <div class="carousel-inner" role="listbox">
               <!-- First slide -->
               <div class="carousel-item active view hm-black-light" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/full%20page/img%20(24).jpg'); background-repeat: no-repeat; background-size: cover;">
                   <!-- Caption -->
                   <div class="full-bg-img flex-center white-text">
                       <ul>
                           <li>
                               <h1 class="h1-responsive flex-item">Up to 60% off retail pricing</h1>
                           </li>
                           <li>
                               <p class="flex-item">On all Virgin hair</p>
                           </li>
                           <li>
                               <a href="#" class="btn btn-outline-white btn-rounded btn-lg flex-item pink">Shop now</a>
                           </li>
                       </ul>
                   </div>
                   <!-- /.Caption -->
               </div>
               <!-- /.First slide -->
               <!-- Second slide -->
               <div class="carousel-item view hm-black-light" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/full%20page/img%20(23).jpg'); background-repeat: no-repeat; background-size: cover;">
                   <!-- Caption -->
                   <div class="full-bg-img flex-center white-text">
                       <ul>
                           <li>
                               <h1 class="h1-responsive flex-item">Buy two items</h1>
                           </li>
                           <li>
                               <p class="flex-item">Get one for free!</p>
                           </li>
                           <li>
                               <a href="#" class="btn btn-outline-white btn-rounded btn-lg flex-item pink">Start Shopping</a>
                           </li>
                           <li>
                               <a href="#" class="btn btn-outline-white btn-rounded btn-lg flex-item pink">Learn more</a>
                           </li>
                       </ul>
                   </div>
                   <!-- /.Caption -->
               </div>
               <!-- /.Second slide -->
               <!-- Third slide -->
               <div class="carousel-item view hm-black-light" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20(8).jpg'); background-repeat: no-repeat; background-size: cover;">
                   <!-- Caption -->
                   <div class="full-bg-img flex-center white-text">
                       <ul>
                           <li>
                               <h1 class="h1-responsive flex-item">Get 20% off</h1>
                           </li>
                           <li>
                               <p class="flex-item">On selected items</p>
                           </li>
                           <li>
                               <a href="#" class="btn btn-outline-white btn-rounded btn-lg flex-item pink">Shop now</a>
                           </li>
                       </ul>
                   </div>
                   <!-- /.Caption -->
               </div>
               <!-- /.Third slide -->
           </div>
           <!--/.Slides-->
           <!--Controls-->
           <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
           <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
           <!--/.Controls-->
       </div>
       <!--/.Carousel Wrapper-->
       <!-- /.Intro -->
       <main id="mainContainer">
           <!-- Main Container -->
           <div class="container">
               <div class="divider-new">
                   <h2 class="h2-responsive">Featured Collections</h2>
               </div>
               <!-- Featured Collections -->
               <section id="collections">
                   <div class="row">
                       <!-- First column -->
                       <div class="col-lg-3 col-md-6 mb-1">
                           <!-- Collection card -->
                           <div class="card collection-card z-depth-1-half">
                               <!-- Card image -->
                               <div class="view hm-zoom">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg" class="img-fluid" alt="">
                                   <div class="stripe dark">
                                       <a><p>Bags <i class="fa fa-chevron-right"></i></p></a>
                                   </div>
                               </div>
                               <!-- /.Card image -->
                           </div>
                           <!-- /.Collection card -->
                       </div>
                       <!-- /.First column -->
                       <!-- Second column -->
                       <div class="col-lg-3 col-md-6 mb-1">
                           <!-- Collection card -->
                           <div class="card collection-card z-depth-1-half">
                               <!-- Card image -->
                               <div class="view hm-zoom">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg" class="img-fluid" alt="">
                                   <div class="stripe light">
                                       <a><p>Tops <i class="fa fa-chevron-right"></i></p></a>
                                   </div>
                               </div>
                               <!-- /.Card image -->
                           </div>
                           <!-- /.Collection card -->
                       </div>
                       <!-- /.Second column -->
                       <!-- Third column -->
                       <div class="col-lg-3 col-md-6 mb-1">
                           <!-- Collection card -->
                           <div class="card collection-card z-depth-1-half">
                               <!-- Card image -->
                               <div class="view hm-zoom">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg" class="img-fluid" alt="">
                                   <div class="stripe dark">
                                       <a><p>Jeans <i class="fa fa-chevron-right"></i></p></a>
                                   </div>
                               </div>
                               <!-- /.Card image -->
                           </div>
                           <!-- /.Collection card -->
                       </div>
                       <!-- /.Third column -->
                       <!-- Fourth column -->
                       <div class="col-lg-3 col-md-6 mb-1">
                           <!-- Collection card -->
                           <div class="card collection-card z-depth-1-half">
                               <!-- Card image -->
                               <div class="view hm-zoom">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg" class="img-fluid" alt="">
                                   <div class="stripe light">
                                       <a><p>Jacket <i class="fa fa-chevron-right"></i></p></a>
                                   </div>
                               </div>
                               <!-- /.Card image -->
                           </div>
                           <!-- /.Collection card -->
                       </div>
                       <!-- /.Fourth column -->
                   </div>
               </section>
               <!-- /.Featured Collections -->
               <div class="divider-new">
                   <h2 class="h2-responsive">New Arrivals</h2>
               </div>
               <!-- New Arrivals -->
               <section id="featured">
                   <div class="row">
                       <div class="col-lg-4 col-sm-12 mb-1">
                           <!-- Card -->
                           <div class="card card-cascade narrower">
                               <!-- Card image -->
                               <div class="view overlay hm-white-slight">
                                   <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20%282%29.jpg" alt="Card image cap">
                                   <a href="#">
                                       <div class="mask waves-light"></div>
                                   </a>
                               </div>
                               <!-- /.Card image -->
                               <!-- Card content -->
                               <div class="card-block text-center">
                                   <!-- Category & Title -->
                                   <a href="" class="text-muted"><h5>Sweaters</h5></a>
                                   <h4 class="card-title"><strong><a href="">Grey Sweater</a></strong></h4>
                                   <!-- Description -->
                                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.</p>
                                   <!-- Card footer -->
                                   <div class="card-footer">
                                       <span class="left">$39</span>
                                       <span class="right"><a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a><a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a></span>
                                   </div>
                               </div>
                               <!-- /.Card content -->
                           </div>
                           <!-- /.Card -->
                       </div>
                       <div class="col-lg-4 col-sm-6 mb-1">
                           <!-- Card -->
                           <div class="card card-cascade narrower">
                               <!-- Card image -->
                               <div class="view overlay hm-white-slight">
                                   <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20%283%29.jpg" alt="Card image cap">
                                   <a href="#">
                                       <div class="mask waves-light"></div>
                                   </a>
                               </div>
                               <!-- /.Card image -->
                               <!-- Card content -->
                               <div class="card-block text-center">
                                   <!-- Category & Title -->
                                   <a href="" class="text-muted"><h5>Handbags</h5></a>
                                   <h4 class="card-title"><strong><a href="">Brown Handbag</a></strong></h4>
                                   <!-- Description -->
                                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.</p>
                                   <!-- Card footer -->
                                   <div class="card-footer">
                                       <span class="left">$39</span>
                                       <span class="right"><a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a><a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a></span>
                                   </div>
                               </div>
                               <!-- /.Card content -->
                           </div>
                           <!-- /.Card -->
                       </div>
                       <div class="col-lg-4 col-sm-6 mb-1">
                           <!-- Card -->
                           <div class="card card-cascade narrower">
                               <!-- Card image -->
                               <div class="view overlay hm-white-slight">
                                   <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20%281%29.jpg" alt="Card image cap">
                                   <a href="#">
                                       <div class="mask waves-light"></div>
                                   </a>
                               </div>
                               <!-- /.Card image -->
                               <!-- Card content -->
                               <div class="card-block text-center">
                                   <!-- Category & Title -->
                                   <a href="" class="text-muted"><h5>Jeans</h5></a>
                                   <h4 class="card-title"><strong><a href="">Blue Jeans</a></strong></h4>
                                   <!-- Description -->
                                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.</p>
                                   <!-- Card footer -->
                                   <div class="card-footer">
                                       <span class="left">$39</span>
                                       <span class="right"><a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a><a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a></span>
                                   </div>
                               </div>
                               <!-- /.Card content -->
                           </div>
                           <!-- /.Card -->
                       </div>
                   </div>
               </section>
               <!-- /.New Arrivals -->
               <section class="section">
                   <!-- Section heading -->
                   <div class="divider-new pb-1">
                       <h2 class="h2-responsive">Featured Products</h2>
                   </div>
                   <!-- First row -->
                   <div class="row">
                       <!-- First column -->
                       <div class="col-lg-4 col-md-12 mb-1">
                           <!-- Card -->
                           <div class="card card-cascade narrower">
                               <!-- Card image -->
                               <div class="view overlay hm-white-slight">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(38).jpg" class="img-fluid" alt="">
                                   <a>
                                       <div class="mask waves-effect waves-light"></div>
                                   </a>
                               </div>
                               <!-- /.Card image -->
                               <!-- Card content -->
                               <div class="card-block text-center">
                                   <!-- Category & Title -->
                                   <a href="" class="text-muted"><h5>Handbags</h5></a>
                                   <h4 class="card-title"><strong><a href="">Leather Handbag</a></strong></h4>
                                   <!-- Description -->
                                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.</p>
                                   <!-- Card footer -->
                                   <div class="card-footer">
                                       <span class="left">$39</span>
                                       <span class="right"><a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a><a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a></span>
                                   </div>
                               </div>
                               <!-- /.Card content -->
                           </div>
                           <!-- /.Card -->
                       </div>
                       <!-- /.First column -->
                       <!-- Second column -->
                       <div class="col-lg-4 col-md-6 mb-1">
                           <!-- Card -->
                           <div class="card card-cascade narrower">
                               <!-- Card image -->
                               <div class="view overlay hm-white-slight">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20%284%29.jpg" class="img-fluid" alt="">
                                   <a>
                                       <div class="mask waves-effect waves-light"></div>
                                   </a>
                               </div>
                               <!-- /.Card image -->
                               <!-- Card content -->
                               <div class="card-block text-center">
                                   <!-- Category & Title -->
                                   <a href="" class="text-muted"><h5>Packages</h5></a>
                                   <h4 class="card-title"><strong><a href="">Summer Pack</a></strong></h4>
                                   <!-- Description -->
                                   <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                                   <!-- Card footer -->
                                   <div class="card-footer">
                                       <span class="left">$49</span>
                                       <span class="right"><a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a><a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a></span>
                                   </div>
                               </div>
                               <!-- /.Card content -->
                           </div>
                           <!-- /.Card -->
                       </div>
                       <!-- /.Second column -->
                       <!-- Third column -->
                       <div class="col-lg-4 col-md-6 mb-1">
                           <!-- Card -->
                           <div class="card card-cascade narrower">
                               <!-- Card image -->
                               <div class="view overlay hm-white-slight">
                                   <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(40).jpg" class="img-fluid" alt="">
                                   <a>
                                       <div class="mask waves-effect waves-light"></div>
                                   </a>
                               </div>
                               <!-- /.Card image -->
                               <!-- Card content -->
                               <div class="card-block text-center">
                                   <!-- Category & Title -->
                                   <a href="" class="text-muted"><h5>Backpacks</h5></a>
                                   <h4 class="card-title"><strong><a href="">Pink Backpack</a></strong></h4>
                                   <!-- Description -->
                                   <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
                                   <!-- Card footer -->
                                   <div class="card-footer">
                                       <span class="left">$69</span>
                                       <span class="right"><a class="" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fa fa-eye"></i></a><a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></a></span>
                                   </div>
                               </div>
                               <!-- /.Card content -->
                           </div>
                           <!-- /.Card -->
                       </div>
                       <!-- /.Third column -->
                   </div>
                   <!-- /.First row -->
               </section>
               <!-- /.Featured Products -->
           </div>
           <!-- /.Main Container -->
           <!-- Streak Section -->
           <div class="streak streak-lg streak-photo" style="background-image:url('https://mdbootstrap.com/img/Photos/Slides/img%20(110).jpg')">
               <div class="flex-center white-text pattern-1">
                   <ul>
                       <li>
                           <h1 class=" white-text"><strong>500+</strong> happy customers</h1>
                       </li>
                   </ul>
               </div>
           </div>
           <!-- /.Streak Section -->
           <!-- Advantages Section -->
           <section class="advantages grey lighten-3">
               <div class="container">
                   <div class="row">
                       <div class="col-lg-4">
                           <i class="fa fa-trophy mb-1 rounded-circle" aria-hidden="true"></i>
                           <h5><strong>Quality guaranteed</strong></h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                       <div class="col-lg-4">
                           <i class="fa fa-truck rounded-circle mb-1" aria-hidden="true"></i>
                           <h5><strong>Free delivery</strong></h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                       <div class="col-lg-4">
                           <i class="fa fa-lock rounded-circle mb-1" aria-hidden="true"></i>
                           <h5><strong>Secure payment</strong></h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       </div>
                   </div>
               </div>
           </section>
           <!-- /.Advantages Section -->
       </main>
