<main class="">
        <div class="container-fluid">

            <!--Section heading-->
            <h4 class="text-left">Your business is growing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <hr>
            <br>

            <!--Section: Intro-->
            <section class="section section-intro">

                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col-md-3 mb-1">
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card">

                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-money blue darken-3"></i>
                                <div class="data">
                                    <p>SALES</p>
                                    <h3>2000$</h3>
                                </div>
                            </div>
                            <!--/.Card Data-->

                            <!--Card content-->
                            <div class="card-block">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-3 mb-1">
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card">

                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-line-chart deep-purple darken-4"></i>
                                <div class="data">
                                    <p>SUBSCRIPTIONS</p>
                                    <h3>200</h3>
                                </div>
                            </div>
                            <!--/.Card Data-->

                            <!--Card content-->
                            <div class="card-block">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Worse than last week (25%)</p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-3 mb-1">
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card">

                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-pie-chart indigo"></i>
                                <div class="data">
                                    <p>TRAFFIC</p>
                                    <h3>20000</h3>
                                </div>
                            </div>
                            <!--/.Card Data-->

                            <!--Card content-->
                            <div class="card-block">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (75%)</p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/Third column-->

                    <!--Fourth column-->
                    <div class="col-md-3 mb-1">
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card">

                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-bar-chart purple"></i>
                                <div class="data">
                                    <p>ORGANIC TRAFFIC</p>
                                    <h3>2000</h3>
                                </div>
                            </div>
                            <!--/.Card Data-->

                            <!--Card content-->
                            <div class="card-block">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/Fourth column-->

                </div>
                <!--/First row-->

            </section>
            <!--/Section: Intro-->

            <main id="mainContainer">

          <!-- Main Container -->
          <div class="container">

              <section class="section">

                  <!-- Shopping Cart table -->
                  <div class="table-responsive">

                      <table class="table product-table">

                          <!-- Table head -->
                          <thead>
                              <tr>
                                  <th style="
      text-align: center;
  ">Image</th>
                                  <th>Item</th>
                                  <th>Customer</th>

                                  <th>Price</th>



                              </tr>
                          </thead>
                          <!-- /.Table head -->

                          <!-- Table body -->
                          <tbody>

                              <!-- First row -->
                              <tr>
                                  <th scope="row">
                                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes.jpg" alt="" class="img-fluid z-depth-0">
                                  </th>
                                  <td>
                                      <h5><strong>Sportswear</strong></h5>
                                      <p class="text-muted">by FifeSteps</p>
                                  </td>
                                  <td>Blue</td>

                                  <td>$200</td>



                              </tr>
                              <!-- /.First row -->


                          </tbody>
                          <!-- /.Table body -->

                      </table>

                  </div>
                  <!-- /.Shopping Cart table -->

              </section>

          </div>
          <!-- /.Main Container -->

      </main>

            <!--Section: Charts-->
            <section class="section section-intro">

                <h2 class="mb-1 text-center">Manage your offers</h2>

                <!--Second row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-4 mb-r">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(4).jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-center">
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5>Category</h5></a>
                                <h4 class="card-title"><strong><a href="">Product name</a></strong></h4>

                                <!--Rating-->
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>

                                <!--Description-->
                                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">49$</span>
                                    <span class="right">
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart"><i class="fa fa-eye"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"><i class="fa fa-pencil"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Added to Wishlist"><i class="fa fa-remove"></i></a>
                        </span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 mb-r">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(3).jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-center">
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5>Category</h5></a>
                                <h4 class="card-title"><strong><a href="">Product name</a></strong></h4>

                                <!--Rating-->
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>

                                <!--Description-->
                                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">89$</span>
                                    <span class="right">
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart"><i class="fa fa-eye"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"><i class="fa fa-pencil"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Added to Wishlist"><i class="fa fa-remove"></i></a>
                                    </span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 mb-r">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(2).jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-center">
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5>Category</h5></a>
                                <h4 class="card-title"><strong><a href="">Product name</a></strong></h4>

                                <!--Rating-->
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-o"></i></li>
                                </ul>

                                <!--Description-->
                                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">59$</span>
                                    <span class="right">
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart"><i class="fa fa-eye"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"><i class="fa fa-pencil"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Added to Wishlist"><i class="fa fa-remove"></i></a>
                                    </span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/Third column-->

                </div>
                <!--/Second row-->

            </section>
            <!--/Section: Charts-->

        </div>
    </main>
