<main>
        <div class="container-fluid">


            <div class="divider-new wow fadeIn mt-4 mb-5" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <h1 class="h1-responsive">Gallery</h1>
            </div>

            <div class="tiles-mag">

                <!-- Magazine -->
                <div class="row mb-3">
                    <!-- Main news -->
                    <div class="col-md-12">

                        <!--Tiles blog-->
                        <div class="tiles-blog">
                            <!--First row-->
                            <div class="row">
                              <% @galleries.each do |gallery| %>
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">
                                                <%= link_to image_tag(gallery.image.url, class: "img-fluid gallery-img"), gallery_path(gallery) if gallery.image? %>
                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                        <!--Blog post body-->
                                        <div class="tiles-post-body">
                                            <!--Excerpt-->

                                            <!-- <h3 class="tiles-post-title h3-responsive"><a href="http://biznesflow.pl/" class="white-text">This is a title of the news</a></h3> -->

                                            <span class="tiles-post-date grey-text"><i class="fa fa-clock-o pink-text"></i> <%= time_ago_in_words(gallery.created_at) %> ago</span>
                                            <!-- <span class="tiles-post-comments"><a href="#!"><i class="fa fa-comments-o"></i> 7 comments </a></span> -->
                                            <!--/Excerpt-->
                                        </div>
                                        <!--/Blog post body-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->
                                <% end %>
                            </div>
                            <!--/First row-->
                        </div>
                        <!--Tiles blog-->

                    </div>
                    <!--/ Main news -->

                </div>
                <!--/ Magazine -->

            </div>

        </div>
    </main>

<br>

<%= link_to 'Upload New Image', new_gallery_path %>
