.carousel, .carousel-item {
  height: 100vh;
}

.push-top {
  margin-top: 5rem;
}

.page-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.media .media-left img, .section img{
  box-shadow: none !important;
}
#stars-inline, .stars-inline {
  display: inline-flex !important;
}

// .stars-inline {
//   width: 200px;
//
// }

.white-input {
  font-family: 'Great Vibes', cursive !important;
  font-size: 3em !important;
  font-weight: bold !important;
  letter-spacing: 1px;
}
